# {{ ansible_managed }}

worker_processes 1;

events {
    worker_connections 256;
    use kqueue; # Optimized event notifications for FreeBSD kernel
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    # High-efficiency FreeBSD zero-copy file serving
    sendfile        on;
    tcp_nopush      on;
    tcp_nodelay     on;

    keepalive_timeout 15;

    server {
        listen       80;
        server_name  {{ project_hosts[inventory_hostname]['pkg_repo'] }};
        root         /usr/local/www/pkgrepo;

        location / {
            autoindex on;
        }
    }
}
