---
# vars samples for rsnapshot

# rsnapshot_snapshot_root: /export/backup/snapshots

# rsnapshot_backup_points:
#  - {dir: /scratch/test/, host: localhost/}
#  - {dir: /scratch/rcb/test/, host: localhost/}

# rsnapshot_backup_points_test:
#  - {dir: /scratch/test/, host: localhost/}


# rsnapshot_exclude:
#  - regex: '.git/'
#  - regex: '.#*'

# EOF
...
