[defaults]
inventory = $PWD/hosts
stdout_callback = yaml

[ssh_connection]
pipelining = true

[colors]
changed = purple
debug = bright yellow
deprecate = blue
diff_add = green
diff_lines = cyan
diff_remove = red
error = red
highlight = white
ok = green
skip = yellow
unreachable = bright red
verbose = blue
warn = bright purple

# EOF
