# {{ ansible_managed }}
# {{ template_path }}
# PLEASE BE AWARE OF THE FOLLOWING RULE:
# This file requires tabs between elements

config_version	{{ rsnapshot_config_version }}
snapshot_root	{{ rsnapshot_snapshot_root_test }}
no_create_root	{{ rsnapshot_no_create_root }}
cmd_cp		{{ rsnapshot_cmd_cp }}
cmd_rm		{{ rsnapshot_cmd_rm }}
cmd_rsync	{{ rsnapshot_cmd_rsync }}
cmd_ssh		{{ rsnapshot_cmd_ssh }}
cmd_logger	{{ rsnapshot_cmd_logger }}
#cmd_du		   	/usr/bin/du
#cmd_rsnapshot_diff	/usr/local/bin/rsnapshot-diff
#cmd_preexec		/path/to/preexec/script
#cmd_postexec		/path/to/postexec/script
#linux_lvm_cmd_lvcreate	/path/to/lvcreate
#linux_lvm_cmd_lvremove	/path/to/lvremove
#linux_lvm_cmd_mount	/sbin/mount
#linux_lvm_cmd_umount	/sbin/umount
retain		hourly	{{ rsnapshot_retain_hourly }}
retain		daily	{{ rsnapshot_retain_daily }}
retain		weekly	{{ rsnapshot_retain_weekly }}
retain		monthly	{{ rsnapshot_retain_monthly }}

# GLOBAL OPTIONS
verbose		{{ rsnapshot_verbose }}
loglevel	{{ rsnapshot_loglevel }}
logfile		{{ rsnapshot_logfile }}
lockfile	{{ rsnapshot_lockfile }}
#rsync_short_args	-a
#rsync_long_args	--delete --numeric-ids --relative --delete-excluded
#ssh_args	-p 22
#ssh_args	-o BatchMode=yes
#du_args	-csh
#one_fs		0
#include	???
#include	???
#exclude	???
#exclude	???
#include_file	/path/to/include/file
#exclude_file	/path/to/exclude/file
link_dest	{{ rsnapshot_link_dest }}
#sync_first	   	0
#use_lazy_deletes	0
#rsync_numtries		0
#linux_lvm_snapshotsize	100M
#linux_lvm_snapshotname	rsnapshot
#linux_lvm_vgpath	/dev
#linux_lvm_mountpath	/path/to/mount/lvm/snapshot/during/backup

### BACKUP POINTS/SCRIPTS
{% for item  in rsnapshot_backup_points_test %}
backup	{{ item.dir }}	{{ item.host }}
{% endfor %}

### EXCLUDE
{% for item  in rsnapshot_exclude %}
exclude	{{ item.regex }}
{% endfor %}

# EOF
