# Appendix

---

## App1. FreeBSD collection configuration

- In the repository, see the tree

```console
    shell> tree setup
```

- See the playbook *setup/.configure.yml *. This play can:

  * create setup/vars/roles_latest.yml

- See the file *setup/vars/roles_latest.yml*

- This play should be used to configure other options when necessary.

---

## App2. FreeBSD collection setup

- In the repository, see the tree

```console
    shell> tree setup
```

- See the playbook *setup/setup.yml*. This play can:

  * display variables
  * install plugins
  * install roles

- See the files in the directory *setup/vars/*

---

## App3. Recommended reading

- [FreeBSD Handbook: Chapter 17. Jails and Containers](https://docs.freebsd.org/en/books/handbook/jails/)
- [FreeBSD Forum: Jails](https://forums.freebsd.org/tags/jails/)
- [FreeBSD Mastery: Jails](https://mwl.link/freebsd-mastery-jails.html)
- [FreeBSD Mastery: ZFS](https://mwl.link/freebsd-mastery-zfs.html)
