# Plugins iocage

{% for k,v in examples.items() if k in plugins_iocage_enable %}
---

## example {{ v.example }}: {{ v.name }}

{% if v.extend is defined %}
*extends*: {{ v.extend }}
{% endif %}

{{ v.case }}

{% if v.requirements | length > 0 %}
*requirements*:

{% for i in v.requirements %}
  - {{ i }}
{% endfor %}
{% endif %}

*links*:

  - [source code]({{ v.source }})
  - [results]({{ v.results }})

{% endfor %}
