# Appendix

---

## FreeBSD collection configuration

- In the repository, see the tree

```console
    shell> tree setup
```

- See the playbook *setup/.configure.yml *. This play can:

  * create setup/vars/roles_latest.yml

- See the file *setup/vars/roles_latest.yml*

- This play should be used to configure other options when necessary.

---

## FreeBSD collection setup

- In the repository, see the tree

```console
    shell> tree setup
```

- See the playbook *setup/setup.yml*. This play can:

  * display variables
  * install plugins
  * install roles

- See the files in the directory *setup/vars/*
