{% include 'introduction.md.j2' %}

{% include 'collection.md.j2' %}

{% include 'examples.md.j2' %}

{% include 'manage-iocage.md.j2' %}

{% include 'plugins-iocage.md.j2' %}

{# {% include 'other-plugins.md.j2' %} #}

{% include 'ansible-client.md.j2' %}
