---
# vars samples for freebsd_zfs

# fzfs_enable: true
# fzfs_debug: true
# fzfs_backup_conf: false
# fzfs_rcconf: []
# fzfs_datasets: []

# fzfs_sysctl_conf:
#  - {name: vfs.zfs.prefetch_disable, value: 0}

# fzfs_pools:
#   zroot:
#     vdevs:
#       - disks: [/dev/ada2]
#   export:
#     vdevs:
#       - disks: [/dev/ada1]

# fzfs_manage:
#  - name: zroot/test1
#    state: present
#    extra_zfs_properties:
#      compression: on
#  - name: zroot/jails
#    state: present
#    extra_zfs_properties:
#      compression: on
#      mountpoint: /local/jails

# fzfs_mountpoints:
#  - mountpoint: /local/jails
#    owner: root
#    group: wheel
#    mode: '0700'

# EOF
...
