---

# standalone role vbotka.apache

- name: Enable and start vbotka.apache
  listen: enable and start vbotka.apache
  ansible.builtin.service:
    name: "{{ apache_service }}"
    state: started
    enabled: true

- name: Disable and stop vbotka.apache
  listen: disable and stop vbotka.apache
  ansible.builtin.service:
    name: "{{ apache_service }}"
    state: stopped
    enabled: false

- name: Restart vbotka.apache
  listen: restart vbotka.apache
  when: apache_enable | bool
  ansible.builtin.service:
    name: "{{ apache_service }}"
    state: restarted

- name: Reload vbotka.apache
  listen: reload vbotka.apache
  when: apache_enable | bool
  ansible.builtin.service:
    name: "{{ apache_service }}"
    state: reloaded

- name: Graceful vbotka.apache  # noqa: no-changed-when
  listen: graceful vbotka.apache
  when: apache_enable | bool
  ansible.builtin.command:
    cmd: /usr/local/etc/rc.d/{{ apache_service }} graceful

- name: Gracefulstop vbotka.apache  # noqa: no-changed-when
  listen: gracefulstop vbotka.apache
  when: apache_enable | bool
  ansible.builtin.command:
    cmd: /usr/local/etc/rc.d/{{ apache_service }} gracefulstop

# collection role vbotka.freebsd.apache

- name: Enable and start vbotka.freebsd.apache
  listen: enable and start vbotka.freebsd.apache
  vbotka.freebsd.service:
    script: "{{ apache_service }}"
    command: start

- name: Disable and stop vbotka.freebsd.apache
  listen: disable and stop vbotka.freebsd.apache
  vbotka.freebsd.service:
    script: "{{ apache_service }}"
    command: stop

- name: Restart vbotka.freebsd.apache
  listen: restart vbotka.freebsd.apache
  when: apache_enable | bool
  vbotka.freebsd.service:
    script: "{{ apache_service }}"
    command: restart

- name: Reload vbotka.freebsd.apache
  listen: reload vbotka.freebsd.apache
  when: apache_enable | bool
  vbotka.freebsd.service:
    script: "{{ apache_service }}"
    command: reload

- name: Graceful vbotka.freebsd.apache
  listen: graceful vbotka.freebsd.apache
  when: apache_enable | bool
  vbotka.freebsd.service:
    script: "{{ apache_service }}"
    command: graceful

- name: Gracefulstop vbotka.freebsd.apache
  listen: gracefulstop vbotka.freebsd.apache
  when: apache_enable | bool
  vbotka.freebsd.service:
    script: "{{ apache_service }}"
    command: gracefulstop

# EOF
