---
# vars for freebsd_iocage

# activate
freebsd_iocage_activate: true
freebsd_iocage_pool: iocage
freebsd_iocage_pool_mount: /mnt/iocage

# sanity
freebsd_iocage_sanity_zfs_pool_active: true

# conf
freebsd_iocage_sysctl_update:
  net.inet.ip.forwarding: 1
freebsd_iocage_defaults_update:
  allow_mount: 1

# rcconf
freebsd_iocage_rcconf:
  - {regexp: iocage_lang, val: "{{ freebsd_iocage_lang }}"}

# EOF
