     <VirtualHost *:80>
     ServerName {{ item.ServerName }}
     DocumentRoot {{ item.DocumentRoot }}
{% if item.redirect|default(True) %}     Redirect permanent / https://{{ item.ServerName }}/
{% endif %}
     </VirtualHost>

     <VirtualHost *:443>
     ServerName {{ item.ServerName }}
     DocumentRoot {{ item.DocumentRoot }}
     SSLCertificateFile {{ item.SSLCertificateFile }}
     SSLCertificateKeyFile {{ item.SSLCertificateKeyFile }}
     </VirtualHost>
