---
# vars for vbotka.apache

apache_enable: true
apache_debug: true
apache_ssl: true
apache_php: true
apache_backup_conf: true
apache_sslengine: 'on'

apache_httpd_conf_ssl_extra_absent:
  - 'Listen\s+443'

apache_httpd_conf_ssl_listen:
  - {regexp: 'Listen ', line: '443'}
  - {regexp: 'Listen ', line: '10.1.0.10:443'}

apache_packages:
  - "{{ apache_package }}"
  - "{{ apache_php_package }}"

apache_httpd_conf_modules:
  - {module: socache_shmcb_module, mod: mod_socache_shmcb.so}
  - {module: ssl_module, mod: mod_ssl.so}
  - {module: php5_module, mod: libphp5.so}

apache_vhost:
- ServerName: example.net
  DocumentRoot: "/usr/local/www/apache{{ apache_version }}/data/example.net/"
  SSLCertificateFile: /usr/local/etc/letsencrypt/live/example.net/fullchain.pem
  SSLCertificateKeyFile: /usr/local/etc/letsencrypt/live/example.net/privkey.pem
  redirect: false
  create_document_root: true

apache_directory_blocks:
  - Directory: /usr/local/www/roundcube
    Includefile: usr-local-www-roundcube.conf
    Conf:
      - Options Indexes FollowSymLinks
      - AllowOverride All
      - Require all granted
  - Directory: /usr/local/www/roundcube/config
    Includefile: usr-local-www-roundcube-config.conf
    Conf:
      - Options -FollowSymLinks
      - AllowOverride None
      - Require all denied
  - Directory: /usr/local/poudriere/data
    Includefile: usr-local-poudriere-data.conf
    Conf:
      - Options Indexes FollowSymLinks
      - AllowOverride All
      - Require all granted

# FreeBSD rc.conf
apache_rcconf:
  - {key: apache24_profiles, value: ''}
  - {key: apache24limits_enable, value: 'NO'}
  - {key: apache24_flags, value: ''}
  - {key: apache24limits_args, value: -e -C daemon}
  - {key: apache24_http_accept_enable, value: 'NO'}
  - {key: apache24_configcheck_disable, value: 'NO'}

# EOF
...
