- name: Create and start project jails.
  hosts: iocage

  tasks:

    - name: Display vars.  # noqa: run-once
      when: debug | d(false) | bool
      vars:
        project_jails_present: "{{ project | intersect(groups.all) }}"
        project_jails_absent: "{{ project | difference(groups.all) }}"
      run_once: true
      ansible.builtin.debug:
        msg: |
          project_template: {{ project_template | d('ansible_client') }}
          project_create_iocage_tags: {{ project_create_iocage_tags | d(false) }}
          vmm:
            {{ vmm | to_yaml | indent(2) }}
          class:
            {{ class | to_yaml | indent(2) }}
          groups.all: {{ groups.all }}
          project_jails_present: {{ project_jails_present }}
          project_jails_absent: {{ project_jails_absent }}

    - name: Create and start jails.
      vars:
        iocage_jails_absent: "{{ vmm[inventory_hostname] | difference(groups.all) }}"
        iocage_jails_created: "{{ out.stdout_lines | map('split') | map('first') }}"
      block:

        - name: All jails already created. End host.
          when: iocage_jails_absent | length == 0
          ansible.builtin.meta: end_host

        - name: Create jails.  # noqa: no-changed-when
          register: out
          ansible.builtin.command: >
            iocage create
            --short
            --template {{ project_template | d('ansible_client') }}
            --count {{ iocage_jails_absent | length }}
            {{ properties }}

        - name: Set notes.  # noqa: no-changed-when
          vars:
            alias: "{{ iocage_jails_absent[idx] }}"
            iocage_tags: >-
              alias={{ alias }}
              class={{ vmm[inventory_hostname][alias]['class'] | join(',') }}
              vmm={{ inventory_hostname }}
          ansible.builtin.command: >
            iocage set
            notes="{{ iocage_tags }}"
            {{ item }}
          loop: "{{ iocage_jails_created }}"
          loop_control:
            index_var: idx
            label: "{{ alias }} {{ iocage_tags }}"

        - name: Get pool.
          when: project_create_iocage_tags | d(false) | bool
          register: out_pool
          changed_when: false
          ansible.builtin.command: iocage get -p

        - name: Create /var/db/iocage-tags.yml
          when: project_create_iocage_tags | d(false) | bool
          vars:
            alias: "{{ iocage_jails_absent[idx] }}"
            iocage_tags:
              alias: "{{ alias }}"
              class: "{{ vmm[inventory_hostname][alias]['class'] }}"
              vmm: "{{ inventory_hostname }}"
          ansible.builtin.copy:
            dest: "/{{ out_pool.stdout }}/iocage/jails/{{ item }}/root/var/db/iocage-tags.yml"
            content: |
              {{ iocage_tags | to_yaml }}
            mode: '0644'
          loop: "{{ iocage_jails_created }}"
          loop_control:
            index_var: idx
            label: "{{ alias }} {{ iocage_tags }}"

        - name: Start created jails.  # noqa: no-changed-when
          ansible.builtin.command: >
            iocage start
            {{ iocage_jails_created | join(' ') }}
