- name: Destroy all jails.
  hosts: iocage
  environment: "{{ iocage_env | d({}) }}"

  vars:

    debug: false
    vbotka_freebsd_batch: "{{ lookup('ansible.builtin.env', 'VBOTKA_FREEBSD_BATCH') | default(false, true) }}"
    iocage_jails: "{{ out_jails.stdout | vbotka.freebsd.iocage('jails') }}"
    all_jails: "{{ iocage_jails.keys() }}"
    running_jails: "{{ iocage_jails | dict2items
                                    | selectattr('value.state', 'eq', 'up')
                                    | map(attribute='key') }}"
    destroy_jails: "{{ iocage_jails | dict2items
                                    | rejectattr('value.template', 'in', all_jails)
                                    | map(attribute='key') }}"

  tasks:

    - name: Not in a batch. Confirm to proceed. # noqa: run-once
      when:
        - not ansible_check_mode
        - not vbotka_freebsd_batch | bool
      run_once: true
      block:

        - name: Confirm to proceed.
          register: out
          ansible.builtin.pause:
            prompt: >
              All jails on {{ ansible_play_hosts | join(', ') }} will be destroyed.
              Do you want to proceed? [y/n]

        - name: End play.
          when: out.user_input | lower != 'y'
          ansible.builtin.meta: end_play

    - name: Set iocage_jails
      tags: list_jails
      block:

        - name: "Get iocage list of jails."
          register: out_jails
          changed_when: false
          check_mode: false
          ansible.builtin.command: iocage list --long

        - name: "Debug iocage_jails debug={{ debug }}"
          when: debug | bool
          ansible.builtin.debug:
            var: iocage_jails

      rescue:

        - name: "Set iocage_jails failed."
          ansible.builtin.debug:
            msg: |
              {{ ansible_failed_task }}
              {{ ansible_failed_result }}

        - name: "End of the host."
          ansible.builtin.meta: end_host

    - name: Stop running jails.
      when: running_jails | length > 0
      tags: stop_jails
      block:

        - name: "Stop running jails."
          changed_when: false
          ansible.builtin.command: "iocage stop -f {{ running_jails | join(' ') }}"

      rescue:

        - name: "Stop running jails failed."
          ansible.builtin.debug:
            msg: |
              {{ ansible_failed_task }}
              {{ ansible_failed_result }}

        - name: "End of the host."
          ansible.builtin.meta: end_host

    - name: Destroy jails.
      when: destroy_jails | length > 0
      tags: destroy_jails
      block:

        - name: "Destroy jails."
          changed_when: false
          ansible.builtin.command: "iocage destroy -f {{ destroy_jails | join(' ') }}"

      rescue:

        - name: "Destroy jails failed."
          ansible.builtin.debug:
            msg: |
              {{ ansible_failed_task }}
              {{ ansible_failed_result }}

        - name: "End of the host."
          ansible.builtin.meta: end_host
