.. _ex_freebsd_postfix:

FreeBSD Postfix
***************

{% for j in postfix_content %}
.. _ex_{{ j.dict }}:

{{ j.name }}
{{ '=' * j.name|length }}

{% for i in lookup('vars', j.dict) %}
.. _ex_{{ i.link }}:

{{ i.file }}
{{ '-' * i.file|length }}

Synopsis: {{ i.synopsis }}
{{ i.description }}
[`{{ i.file }} <https://github.com/vbotka/ansible-config-light/blob/master/{{ i.file }}>`_]

.. highlight:: yaml
    :linenothreshold: 5
.. literalinclude:: ../../{{ i.file }}
    :language: Yaml
    :emphasize-lines: {{ i.lines }}
    :linenos:

{% if i.seealso|length > 0 %}
.. seealso::{% for k in i.seealso %} {{ k }}{% endfor %}

{% endif %}
{% if i.note|length > 0 %}
.. note::{% for k in i.note %} {{ k }}{% endfor %}

{% endif %}
{% if i.warning|length > 0 %}
.. warning::{% for k in i.warning %} {{ k }}{% endfor %}

{% endif %}
{% endfor %}
{% endfor %}
